@import "tailwindcss";

@theme {
  --color-primary: #e8a598;
  --color-bg: #1b1c2e;
  --font-sans: "Inter", sans-serif;
}

.left-navbar-container {
  background-color: #111627;
}

.lofi-text {
  color: #d78586;
}

.left-navbar-item-text-color {
  color: #a45b5f;
}

/* 
Main Background
#111627

Secondary Background
#1B1C2E

Sidebar Background
#16182B (approx.)

Card Background
#2D263A

Elevated Card
#473A5C

Dark Purple
#6A4D76

Accent Purple
#996A92

Primary Pink
#D78586

Rose Accent
#A45B5F

Deep Rose
#743F45

Warm Brown Accent
#4E2E37
    */
